body{
  background-image: url(https://data.photo-ac.com/data/thumbnails/8c/8c57cc67b56f68f59dfa7342eb9c3147_t.jpeg);
}
h3{
  color:white;
}

.loc{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;;
  margin-left: 37.5%;
  width: 25%;
  border: 5px solid black;
  border-radius: 10%;
  color:white;
  background-color: black;
}

.photos{
  text-align: center;
}

.loc2{
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 37.5%;
  width: 25%;
  border: 5px solid #D4AF37;
  color:white;
  background-color: black;
}

.container {
   text-align: center;
   color:blue;
   font-size: 20px;
   top: 50%;
   background-color: white;
   opacity: 0.9;
}
img{
  border: 5px solid black;
}
.bar1 {
  overflow: hidden;
  background-color: black;
  background-size:cover;
  font-size: 15px;
}

.bar1 a {
  text-decoration: none;
  color: white;
  float: right;
  padding: 10px;
}

.top{
  text-align:center;
  color:white;
  background:black;
  width: 200px;
  padding: 5px;
  margin: auto auto;
  margin-top: 10px;
  border-radius: 30px;
  border: 5px solid white;
}

.button a{
  text-decoration: none;
  color:#D4AF37;
}

.button {
  font-size: 30px;
  text-align: center;
  transition-duration: 0.4s;
  width: 700px;
  border-radius: 50px;
  margin: 20px auto;
  margin-bottom: 5px;
  border: 5px solid #D4AF37;
  background-color: black;
  color: #D4AF37;
}
footer{
  text-align:center;
}
.bar2 {
  overflow: hidden;
  background-color: black;
  background-size:cover;
  text-align: center;
  font-size: 10px;
  position: fixed;
  bottom: 0px;
  z-index: 5;
  width: 99%;
}

.bar2 a {
  text-decoration: none;
  color:white;
}
#txt{
  font-family: 'digital-7', sans-serif;
  color:black;
  font-size: 50px;
  text-align: center;
  padding-top: 0px;
  padding-bottom: 0px;
  font-weight: bold;
}
